{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Document Search plugin for Craft CMS 3.x
 *
 * Document Search Settings.twig
 *
 * @author    Venveo
 * @copyright Copyright (c) 2019 Venveo
 * @link      https://venveo.com
 * @package   DocumentSearch
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<div class="readable">
  {{ forms.autosuggestField({
    label: "Location of pdftotext executable on server"|t('document-search'),
    id: 'pdfToTextExecutable',
    name: 'pdfToTextExecutable',
    required: true,
    errors: (not binaries.pdftotext),
    value: settings['pdfToTextExecutable'],
    suggestEnvVars: true
  }) }}

  {% if not binaries.pdftotext %}
    <div class="field">
      <p class="warning">Could not locate required binary: <code>pdftotext</code></p>
    </div>
  {% endif %}
</div>